body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
    margin: 0.75rem 1.5rem 1rem 1.5rem;
}

.index-table {
    display: table;
}

.index-table .index-row:nth-child(odd) {
    background:#fff;
}

.index-row {
    display: table-row;
}

.index-row > * {
    display: table-cell;
    padding: 0.5em;
}
